/* Global CSS file */

.greyButton {
	background-color: var(--grey-mid) !important;
	color: var(--grey-dark) !important;
}

ion-tab-bar {
	--background: var(--main-white);
	border-radius: 8px 8px 0px 0px;
}

ion-tab-button {
	--color: var(--grey-dark);
	--color-selected: var(--main-red);
}

ion-title {
	font-family: "Teko";
	font-size: 1.75rem;
}

ion-toolbar {
	border-bottom: solid 1px var(--grey-mid);
}

ion-card-title {
	font-family: "Teko";
	font-size: 1.75rem;
}